/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* general */
body {
    background-color: white;
}

img{
    width: 100% !important;
}

/* page */
.page-wrapper {
    margin: 0 auto;
    max-width: 100%;
}


/* box
.box-content {
    padding:20px;
    background-color: #EFEFEF;
} */


textarea {

    background-color:#FAFAFA;
    border:#EFEFEF solid 1px;
    color:#333;
    height:1000px;
    width:100%;
}

.btn-code{
    display: none !important;
}

.btn-display-none{
    display: none !important;
}


/* richtext custom style */
/* .richText {
    margin-top: 40px;
    -webkit-box-shadow: 0 0 20px 0 #999;
    -moz-box-shadow: 0 0 20px 0 #999;
    box-shadow: 0 0 20px 0 #999;
} */